<app-static-headre></app-static-headre>
<div class="about" fxLayout="column" fxLayoutAlign="center space-around" fxFlex fxLayoutGap="35px">
  <div fxLayout="row" fxLayoutAlign="center center" class="row margin-top">
    <div class="banner bg-iphone" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="end center" fxFlex.gt-md="50" fxFlex.gt-sm="70"
      fxFlex.lt-sm="90">
      <div class="row icon-row" fxLayout="row" fxLayoutAlign="center center">
        <button mat-mini-fab color="warn">
          <mat-icon>mode_comment</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>mode_comment</mat-icon>
        </button>
        <button mat-fab color="secondery">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>mode_comment</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>mode_comment</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="row">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex.gt-md="50" fxFlex.gt-sm="70" fxFlex.lt-sm="90"
      fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="start stretch" fxLayoutGap="3">
        <h3> First thing to talk about </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis excepturi consequuntur adipisci aperiam quibusdam
          quam quos odit accusantium, minima laborum tenetur? Eveniet explicabo incidunt aliquid commodi optio nam tempore
          corporis!
        </p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3">
        <img src="https://picsum.photos/300/150?random&blur" alt="" class="mat-elevation-z2">

      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-divider fxFlex="30"></mat-divider>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="row">
    <div fxLayout="row-reverse" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex.gt-md="50" fxFlex.gt-sm="70"
      fxFlex.lt-sm="90" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="start end" fxLayoutGap="3">
        <h3 class="text-right"> First thing to talk about </h3>
        <p class="text-right">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis excepturi consequuntur adipisci aperiam quibusdam
          quam quos odit accusantium, minima laborum tenetur? Eveniet explicabo incidunt aliquid commodi optio nam tempore
          corporis!
        </p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3">
        <img src="https://picsum.photos/300/150?random&blur" alt="" class="mat-elevation-z2">

      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-divider fxFlex="30"></mat-divider>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="row">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex.gt-md="50" fxFlex.gt-sm="70" fxFlex.lt-sm="90"
      fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="start stretch" fxLayoutGap="3">
        <h3> First thing to talk about </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis excepturi consequuntur adipisci aperiam quibusdam
          quam quos odit accusantium, minima laborum tenetur? Eveniet explicabo incidunt aliquid commodi optio nam tempore
          corporis!
        </p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3">
        <img src="https://picsum.photos/300/150?random&blur" alt="" class="mat-elevation-z2">

      </div>
    </div>
  </div>

</div>
