<mat-toolbar class="head-v1" fxLayoutGap="10px">
  <span>Logo with img</span>
  <img src="/assets/icon.png" alt="" height="50">
  <input type="search" name="" id="" placeholder="type some thing here">
  <span fxFlex></span>
  <span class="mat-button large" routerLink="/home" routerLinkActive="active-link"> Home </span>
  <span class="mat-button large" routerLink="/about" routerLinkActive="active-link"> About </span>
  <span class="mat-button large" routerLink="/help" routerLinkActive="active-link"> Help </span>
</mat-toolbar>
