<app-static-headre></app-static-headre>
<div class="add-ads" fxLayout="column" fxLayoutAlign="start center" fxFlex>
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step>
    <form class="form">
      <ng-template matStepLabel>First Step</ng-template>
      <div class="row" fxLayout="column">
        <label for="">Email</label>
        <input type="email" name="" value="" class="input">
      </div>
      <div class="row" fxLayout="column">
        <label for="">name & last name</label>
        <div class="" fxLayout="row">
          <input type="text" name="" value="" class="input">
          <input type="text" name="" value="" class="input">
        </div>
      </div>
      <div class="row" fxLayout="column">
        <label for="">URL</label>
        <input type="url" name="" value="" class="input">
      </div>
      <div class="row" fxLayout="column">
        <label for="">Phone number</label>
        <div class="" fxLayout="row">
          <input type="number" name="" value="" class="input" width="3" fxFlex="20">
          <input type="number" name="" value="" class="input" fxFlex="80">
        </div>
      </div>
      <div fxLayoutAlign="end" fxLayout="row">
        <button mat-button matStepperNext class="next">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <form fxLayout="column">
      <ng-template matStepLabel>seconde step</ng-template>
      <div class="row" fxLayout="column">
        <label for="">Chose a country</label>
        <mat-select placeholder="pick a country">
            <mat-option [value]="0">chose a country</mat-option>
            <mat-option [value]="1">Tunisia</mat-option>
            <mat-option [value]="2">Algeria</mat-option>
        </mat-select>
      </div>
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-button matStepperPrevious class="back">Back</button>
        <button mat-button matStepperNext class="next">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Billing things</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finishing</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>
